.settings_setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}
.settings_setting_column:last-child {
  opacity: 0.5;
}
.settings-list li:nth-child(3) {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
