.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}
.status-bar_column:first-child span {
  margin-left: 5px;
}
.status-bar_column .fa-wifi {
  margin: 0px 2px;
}
